version: '3.8'
services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: sports_db
    ports:
      - '5435:5432'
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
